body {
  height: 100vh;
}

.main-container {
  position: relative;
}

#navbarToggleExternalContent {
  position: absolute;
  top: 0;
  left: 0;
}

#non-collapse {
  top: 0;
  left: 0;
}

.notification {
  background-color: #f8d7da;
  display: none;
  height: 5vh;
}

/* .container {
  width: 30vw !important;
} */
